<main class="main-container">
    <aside class="aside-container">
      <ul>
        <li><a href="">Basic</a></li>
        <li><a href="">Scientific</a></li>
        <li><a href="">Time</a></li>
        <li><a href="">Date of Birth</a></li>
        <li><a href="">BMI</a></li>
      </ul>
    </aside>
    <article class="main-container">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate consectetur
        earum accusantium, natus, possimus culpa amet mollitia tempora quasi eligendi
        eveniet quas ea voluptatibus alias aut corporis voluptate quia architecto.</p>
    </article>
    <aside></aside>
  </main>
